.mainPageSlider {
  margin-top: 70px;
  height: 860px;
  background-image: url("../imgs/slider-background.jpg");
  background-color: black;
  background-blend-mode: luminosity;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
